/* ==========================================================================
	Styles
============================================================================= */	

/* Imports -------------------------------------------------- */

@import "normalize";


/* Fonts ---------------------------------------------------- */

@import url(http://fonts.googleapis.com/css?family=Great+Vibes);
@import url(http://fonts.googleapis.com/css?family=News+Cycle:400,700);


/* General -------------------------------------------------- */

body {
	background: url('../img/stars.jpg');
	font-family: 'News Cycle', Arial, sans-serif;
	font-weight: 400;

	@media 
	(-webkit-min-device-pixel-ratio: 2), 
	(min-resolution: 192dpi) { 
	    background: url('../img/stardust_@2X.png');
	}	
	
}

section {
	margin: 0 auto;
	padding: 0 1em;
	text-align: center;
	
	@media only screen and (min-width: 960px) {
		max-width: 960px;
	}
}

/* User Choice State --------------------------------------------------- */

.choice {
	
	h1 {
		margin: 1em 0 0;
		font-size: 3.25em;
		font-family: 'Great Vibes', Arial, sans-serif;
		font-weight: 400;
		line-height: 1em;
		color: #fff;
		transition: all .2s;
		
		@media only screen and (min-width: 768px) {
			font-size: 6em;
		}		
	}
	
	.subtitle {
		margin: 0 0 2em;
		color: #fff;
	}
	
	button {
		padding: 1em;
		font-size: 1.2em;
		border: none;
		border-radius: 5px;
		background: rgba(0, 0, 0, .3);
		color: #ccc;
		outline: none;
		transition: all .2s;
		
		&:hover {
			background: rgba(0, 0, 0, .6);
		}
	}
	
	article {
		margin: 0 0 3em;
		font-size: 1.2em;
		color: #fff;
		opacity: 0;
		transition: all .2s;
		
		&.on {
			opacity: 1;
		}
		
		@media only screen and (min-width: 768px) {
			font-size: 1.5em;
		}
		
		a {
			font-size: 1em;
			color: rgba(198, 213, 179, 0.7);
			text-decoration: none;
			transition: all .2s;
			
			&:hover {
				color: rgba(198, 213, 179, 1);
			}
		}
	}
}

/* Scroll Text ------------------------------------------------------------ */

.scroll {
	position: absolute;
	width: 16em;
	margin-left: -8em;
	padding: 0;
	left: 50%;
	top: 100%;
	color: yellow;
	font-size: 3em;
	font-weight: 700;
	transform-origin: 50% 100%;
	transform: perspective(300px) rotateX(25deg);
	animation: titles 81s;
	backface-visibility: hidden;
}

@keyframes titles {
	0% { 
    top: 100%; 
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
	100% { 
    top: 20%; 
    opacity: 0;
  }
}
