/* ==========================================================================
	Styles
============================================================================= */	

/* Imports -------------------------------------------------- */

@import "normalize";


/* Variables ------------------------------------------------ */

$yellow: #ebd800;
$blue: #4bd5ee;

/* Mixins --------------------------------------------------- */

/* Define Media Queries - http://zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/ */
// Use: @include bp-s {};

@mixin bp-s {
    @media only screen and (min-width: 30em) { @content; } // 480px
    }

@mixin bp-m {
    @media only screen and (min-width: 37.5em) { @content; } // 600px
    }

@mixin bp-l {
    @media only screen and (min-width: 47.9375em) { @content; } // 767px
    }

@mixin bp-xl {
    @media only screen and (min-width: 59.375em) { @content; } // 959px
    }

@mixin bp-xxl {
    @media only screen and (min-width: 78.75em) { @content; } // 1260px
    }


/* REM Font sizing - http://blog.divshot.com/post/29552945105/useful-sass-mixins-for-responsive-design-font-sizing */ // Use: @include font-size(1,1.5); 

@mixin font-size($size: 1, $line: $size * 1.5) { 
	font-size : ($size * 16) + px; 
	line-height : ($line * 16) + px; 
	font-size : $size + rem; 
	line-height : $line + rem; 
}

/* Clearfix http://zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/ */
// Use: @extend %clearfix;
%clearfix {
    *zoom: 1;

    &:before {
        content: " ";
        display: table;
        }

    &:after {
        content: " ";
        display: table;
        clear: both;
        }
    }

/* Fonts ---------------------------------------------------- */

@import url(http://fonts.googleapis.com/css?family=Changa+One:400italic);
@import url(http://fonts.googleapis.com/css?family=News+Cycle:400,700);


/* General -------------------------------------------------- */

body {
	background: url('../img/stars.jpg');
	font-family: 'News Cycle', Arial, sans-serif;
	font-weight: 400;
	@include font-size(1, 1.2);
}

section {
	margin: 0 auto;
	padding: 0 1em;
	text-align: center;
	
	@media only screen and (min-width: 960px) {
		max-width: 960px;
	}
}

button:not(.play-button) {
	margin: 0 0 10px;
	padding: 6px 16px;
	@include font-size(1.2);
	font-weight: 400;
	border: none;
	border-radius: 5px;
	background: rgba(255, 255, 255, .2);
	text-transform: uppercase;
	color: rgba(255, 255, 255, .8);
	outline: none;
	transition: all .2s;
	
	@include bp-m {
		margin: 0;
	}
	
	&:hover, &.on {
		background: rgba(255, 255, 255, .7);
		color: #000;
	}
}

/* User Choice State --------------------------------------------------- */

.choice {
	
	h1 {
		margin: .5em 0 0;
		@include font-size(4);
		font-family: 'Changa One', Arial, sans-serif;
		font-weight: 400;
		font-style: italic;
		text-transform: uppercase;
		line-height: 1em;
		color: $yellow;
		-webkit-text-fill-color: #000;
		-webkit-text-stroke: 2px #ff6;
		transition: all .2s;
		
		@include bp-l {
			@include font-size(8);
		}		
	}
	
	.subtitle {
		margin: 0 0 2em;
		font-size: 1.5em;
		line-height: 1em;
		font-family: 'Changa One';
		font-style: italic;
		color: #fff;
	}
	
	.play-button {
		display: block;
		margin: 0 auto 2em;
		background: transparent;
		border: none;
		color: $blue;
		@include font-size(3);
		transition: all .2s;
		
		&:hover {
			color: #fff;
		}
	}
	
	.choice-contain {
		position: relative;
	}
	
	.wikipedia {
		position: absolute;
		top: 0;
		width: 100%;
		margin: 0 0 3em;
		opacity: 0;
		transition: all .2s;
		
		.new-wiki {
			margin: 1em 0;
			@include font-size(1);
		}
	}
	
	article {
		margin: 1em 0;
		@include font-size(1.2);
		color: #fff;
		
		@include bp-m {
			margin-top: 2em;
		}
		
		@include bp-l {
			font-size: 1.5em;
		}
		
		a {
			font-size: 1em;
			color: rgba(75, 213, 238, 0.7);
			text-decoration: none;
			transition: all .2s;
			
			&:hover {
				color: $blue;
			}
		}
	}
	
	.user-text {
		position: absolute;
		width: 80%;
		top: 0;
		left: 50%;
		margin-left: -40%;
		margin-top: 1em;	
		opacity: 0;
		
		@include bp-m {
			width: 60%;
			margin-left: -30%;
		}
	
		textarea {
			min-height: 180px;
			width: 100%;
			margin: 1em 0;
			padding: 1em;
			text-align: left;
			color: #fff;
			border: 1px solid $blue;
			background: #000;
			box-shadow: 0 0 6px 3px rgba(75, 213, 238, 0.5);
			
			@include bp-m {
				margin-top: 2em;
			}
		}
	}
	
	.active {
		opacity: 1;
		z-index: 100;
	}
}

/* Scroll Text ------------------------------------------------------------ */

.star-wars {

	.intro {
		display: none;
		position: relative;
		top: 150px;
		color: rgb(75, 213, 238);
		@include font-size(2);
		
		@include bp-m {
			top: 300px;
			@include font-size(3);
		}
	}

	.scroll {
		position: absolute;
		width: 100%;
		height: 50em;
		top: auto;
		left: 50%;
		bottom: 0;
		margin-left: -50%;
		font-size: 200%;
		line-height: normal;
		text-align: justify;
		color: $yellow;
		overflow: hidden;
		transform-origin: 50% 100%;
		transform: perspective(300px) rotateX(25deg);
		backface-visibility: hidden;
		
		@include bp-m {
			font-size: 350%;
		}
		
		a {
			text-decoration: none;
			color: rgba(75, 213, 238, 1);
		}
		
		div {
			display: none;
			
			&.go {
				display: block;
				position: absolute;
				top: 100%;
				animation: titles 81s;				
			}
		}
	}
	
	.reset {
		display: none;
		position: fixed;
		top: 1em;
		right: 1em;
	}
}

// Animation
@keyframes titles {
	0% { 
    top: 100%; 
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
	100% { 
    top: 20%; 
    opacity: 0;
  }
}
